In [10]:
import pandas as pd

In [11]:
ex=pd.ExcelFile('xlsx_data_observation.xlsx')

In [12]:
ex

In [13]:
Sheet1=ex.parse('Sheet1')

In [14]:
Sheet1.head()

   var1  var2  var3  var3.1  var4  var5  var6  var7  var8  output
0     1     5     6       3     1     8    11     1     4       0
1     2     2     2       2     2     2     2     4     2       0
2     1     1     1       1     1     1     1     1     1       0
3     3     3     3       3     3     3     3     3     3       0
4     1     1     1       1     1     1     1     1     1       0

In [15]:
Sheet2=ex.parse('Sheet2')
Sheet2.head()

   var2
0     5
1     2
2     1
3     3
4     1

In [16]:
Sheet3=ex.parse('Sheet3')
a=[]
a.append(Sheet4)Sheet3.head()

   var3
0     6
1     2
2     1
3     3
4     1

In [42]:
# Sheet4=ex.parse('Sheet4')
# Sheet5=ex.parse('Sheet5')
# Sheet6=ex.parse('Sheet6')
# Sheet7=ex.parse('Sheet7')
# Sheet8=ex.parse('Sheet8')
# Sheet9=ex.parse('Sheet9')
# Sheet10=ex.parse('Sheet10')




a=[]
for i in range(1,11):
    a.append(ex.parse('Sheet{}'.format(i)))

In [43]:
a[0].head()

   var1  var2  var3  var3.1  var4  var5  var6  var7  var8  output
0     1     5     6       3     1     8    11     1     4       0
1     2     2     2       2     2     2     2     4     2       0
2     1     1     1       1     1     1     1     1     1       0
3     3     3     3       3     3     3     3     3     3       0
4     1     1     1       1     1     1     1     1     1       0

In [44]:
a[1].head()

   var2
0     5
1     2
2     1
3     3
4     1

In [45]:
for i in range(1,11):
    a[i-1].to_csv("Sheet{}.csv".format(i), index = False)

In [49]:
# for i in range(0,5):
#     print("Sheet{}".format(i))

In [50]:
# Sheet2.to_csv("Sheet2.csv", index = False)